html{ scroll-behavior: smooth; }

body { 
    margin: 0; 
    overflow: hidden;
}

.navbar {
    .navbar-brand { margin-left: 1em; }
    ul {
        right: 0 !important;
        margin-left: auto;
        li {
          list-style: none;
          margin: 1.18em 1em 0 1em;
        }
    }
}

.section-container {
    max-width: 100vw;
    .main-container { 
        max-height: 10vh !important;
        display: flex;
        .left-section { 
            flex: 1.15; 
            .left-heading {
                margin-top: 15vh;
                .underline {
                    height: 0.9em;
                    width: 12.5em;
                    display: block;
                    margin-top: -3vh;
                    margin-left: 6.7vw;
                    border-radius: 25px;
                    border: blue 2px solid;
                    z-index: 2;
                }
                .underline-2 { 
                    margin-top: 2em;
                    margin-left: 15.4em;
                    z-index: 1;
                 }
            }
             .sub-text{
                 .sub-txt-2 { margin-left: -1.6em; }
                 .box-text {
                     position: absolute;
                     margin-left: -18.3em;
                 }
             }
        }
        .right-section { 
            flex: 2; 
            background-image: url("/assets/background.svg");
            background-repeat: no-repeat;
            background-position: center;
            .left-box {
                margin-top: 5.25vh;
                margin-bottom: -0.58em;
                max-height: 100vh;
                z-index: 1;
            }
            .top-right-blob, 
            .top-left-blob, 
            .bottom-right-blob,
            .bottom-left-blob {
                position: fixed;
                z-index: 2;
            }
            .top-right-blob {
                top: 1em;
                right: -10rem;
            }
            .top-left-blob {
                top: 7em;
                margin-left: 4em;
            }
            .bottom-right-blob {
                bottom: 10em;
                right: 15em;
            }
            .bottom-left-blob {
                bottom: -9em;
                margin-left: 14em;
            }
        }
    }
}
