html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar .navbar-brand {
  margin-left: 1em;
}

.navbar ul {
  right: 0 !important;
  margin-left: auto;
}

.navbar ul li {
  list-style: none;
  margin: 1.18em 1em 0 1em;
}

.mixBlnd {
  background-blend-mode: screen;
}

.hidden {
  display: none;
}

.section-container {
  max-width: 100vw;
}

.section-container .main-container {
  display: flex;
}

.section-container .main-container .left-section {
  flex: 1.1;
}

.section-container .main-container .left-section .left-heading {
  margin-top: 19vh;
}

.section-container .main-container .left-section .left-heading .name {
  height: 6.7vw;
}

.section-container .main-container .left-section .left-heading .underline {
  height: 0.9em;
  width: 12.5vw;
  display: block;
  margin-top: -3vh;
  margin-left: 4vw;
  border-radius: 25px;
  border: blue 2px solid;
  z-index: 2;
}

.section-container .main-container .left-section .left-heading .underline-2 {
  margin-top: 2em;
  margin-left: 13vw;
  z-index: 1;
}

.section-container .main-container .left-section .sub-text {
  margin-top: 10vh;
}

.section-container .main-container .left-section .sub-text .sub-txt-2, .section-container .main-container .left-section .sub-text .sub-txt-1 {
  height: 5.1vw;
}

.section-container .main-container .left-section .sub-text .sub-txt-2 {
  margin-left: -1.8vw;
}

.section-container .main-container .left-section .sub-text .bg-blue-box {
  height: 4.7vw;
}

.section-container .main-container .right-section {
  flex: 2;
  background-image: url("/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-container .main-container .right-section .left-box {
  margin-top: 5.25vh;
  margin-bottom: -0.58em;
  max-height: 100vh;
  z-index: 1;
}

.section-container .main-container .right-section .floating-icons {
  position: absolute;
  margin-left: 0;
  top: 5vh;
}

.section-container .main-container .right-section .top-right-blob,
.section-container .main-container .right-section .top-left-blob,
.section-container .main-container .right-section .bottom-right-blob,
.section-container .main-container .right-section .bottom-left-blob,
.section-container .main-container .right-section .my-pic {
  position: fixed;
  z-index: 2;
}

.section-container .main-container .right-section .connecting-line,
.section-container .main-container .right-section .laptop,
.section-container .main-container .right-section .vs-code,
.section-container .main-container .right-section .flutter,
.section-container .main-container .right-section .android-studio,
.section-container .main-container .right-section .css-3,
.section-container .main-container .right-section .bs-4,
.section-container .main-container .right-section .js,
.section-container .main-container .right-section .php {
  position: relative;
  z-index: 2;
}

.section-container .main-container .right-section .top-right-blob {
  top: 2em;
  right: -10rem;
  height: 28vw;
}

.section-container .main-container .right-section .top-left-blob {
  top: 6.5em;
  margin-left: 4em;
  height: 8vw;
}

.section-container .main-container .right-section .bottom-right-blob {
  bottom: 11vh;
  height: 10em;
  left: 78vw;
}

.section-container .main-container .right-section .bottom-left-blob {
  bottom: -10.5em;
  margin-left: 14em;
  z-index: 0;
  height: 18vw;
}

.section-container .main-container .right-section .my-pic {
  top: 15rem;
  height: 87rem;
  left: 67.5vw;
}

.section-container .main-container .right-section .connecting-line {
  top: 25vh;
  margin-left: 4vw;
  height: 30vw;
}

.section-container .main-container .right-section .laptop {
  top: 20vh;
  margin-left: 4vw;
  height: 30vw;
}

.section-container .main-container .right-section .vs-code {
  top: 16vh;
  margin-left: 15vw;
  height: 12vw;
}

.section-container .main-container .right-section .flutter {
  top: 21vh;
  margin-left: 29vw;
  height: 10vw;
}

.section-container .main-container .right-section .android-studio {
  top: 42vh;
  margin-left: 34vw;
  height: 8.5vw;
}

.section-container .main-container .right-section .css-3 {
  top: 71vh;
  margin-left: 27vw;
  height: 4.5vw;
}

.section-container .main-container .right-section .bs-4 {
  top: 71vh;
  margin-left: 18.5vw;
  height: 6vw;
}

.section-container .main-container .right-section .js {
  top: 64vh;
  margin-left: 11.5vw;
  height: 6.5vw;
}

.section-container .main-container .right-section .php {
  top: 47vh;
  margin-left: 7vw;
  height: 7vw;
}

.section-container .main-container .right-section .items ul {
  list-style: none;
  position: absolute;
  margin-left: 0;
  top: 5vh;
}

.section-container .main-container .right-section .email-pic,
.section-container .main-container .right-section .email-text,
.section-container .main-container .right-section .email-line,
.section-container .main-container .right-section .phone-pic,
.section-container .main-container .right-section .number1,
.section-container .main-container .right-section .number2,
.section-container .main-container .right-section .facebook,
.section-container .main-container .right-section .insta,
.section-container .main-container .right-section .twitter,
.section-container .main-container .right-section .linkedin,
.section-container .main-container .right-section .CV_btn {
  position: relative;
  z-index: 2;
}

.section-container .main-container .right-section .email-pic {
  height: 8vw;
  margin-left: 3vw;
  top: 25vh;
}

.section-container .main-container .right-section .email-text {
  top: 12vh;
  margin-left: 10.5vw;
  color: whitesmoke;
}

.section-container .main-container .right-section .email-line {
  height: 0.9em;
  width: 18vw;
  display: block;
  top: 12vh;
  margin-left: 10.4vw;
  border-radius: 25px;
  border: black 1px solid;
  z-index: 2;
}

.section-container .main-container .right-section .phone-pic {
  height: 8vw;
  top: 16vh;
  margin-left: 10.5vw;
}

.section-container .main-container .right-section .number1 {
  top: 2vh;
  margin-left: 14.5vw;
  color: whitesmoke;
}

.section-container .main-container .right-section .number2 {
  top: 1vh;
  margin-left: 19vw;
  color: whitesmoke;
}

.section-container .main-container .right-section .facebook {
  height: 8vw;
  top: 6vh;
  margin-left: 18.3vw;
}

.section-container .main-container .right-section .insta {
  height: 9.8vw;
  top: -12.5vh;
  margin-left: 25vw;
}

.section-container .main-container .right-section .twitter {
  height: 7.4vw;
  top: -30.5vh;
  margin-left: 34vw;
}

.section-container .main-container .right-section .linkedin {
  height: 9.4vw;
  top: -47.8vh;
  margin-left: 41vw;
}

.section-container .main-container .right-section .CV_btn {
  top: -23vw;
  margin-left: 35vw;
}

.section-container .main-container .right-section .btn-funky-moon {
  background: #A770EF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  border: 3px solid #eee;
}
