html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar .navbar-brand {
  margin-left: 1em;
}

.navbar ul {
  right: 0 !important;
  margin-left: auto;
}

.navbar ul li {
  list-style: none;
  margin: 1.18em 1em 0 1em;
}

.mixBlnd {
  background-blend-mode: screen;
}

.section-container {
  max-width: 100vw;
}

.section-container .main-container {
  max-height: 10vh !important;
  display: flex;
}

.section-container .main-container .left-section {
  flex: 1;
}

.section-container .main-container .left-section .left-heading {
  margin-top: 15vh;
}

.section-container .main-container .left-section .left-heading .underline {
  height: 0.9em;
  width: 12.5em;
  display: block;
  margin-top: -3vh;
  margin-left: 2.8vw;
  border-radius: 25px;
  border: blue 2px solid;
  z-index: 2;
}

.section-container .main-container .left-section .left-heading .underline-2 {
  margin-top: 2em;
  margin-left: 12.8em;
  z-index: 1;
}

.section-container .main-container .left-section .sub-text .sub-txt-2 {
  margin-left: -1.6em;
}

.section-container .main-container .left-section .sub-text .box-text {
  position: absolute;
  margin-left: -18.3em;
}

.section-container .main-container .right-section {
  flex: 2.5;
  background-image: url("/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-container .main-container .right-section .left-box {
  margin-top: 5.25vh;
  margin-bottom: -0.58em;
  max-height: 100vh;
  z-index: 1;
}

.section-container .main-container .right-section .floating-icons {
  position: absolute;
  margin-left: 0;
  top: 5vh;
}

.section-container .main-container .right-section .top-right-blob,
.section-container .main-container .right-section .top-left-blob,
.section-container .main-container .right-section .bottom-right-blob,
.section-container .main-container .right-section .bottom-left-blob,
.section-container .main-container .right-section .my-pic {
  position: fixed;
  z-index: 2;
}

.section-container .main-container .right-section .connecting-line,
.section-container .main-container .right-section .laptop,
.section-container .main-container .right-section .vs-code,
.section-container .main-container .right-section .flutter,
.section-container .main-container .right-section .android-studio,
.section-container .main-container .right-section .css-3,
.section-container .main-container .right-section .bs-4,
.section-container .main-container .right-section .js,
.section-container .main-container .right-section .php {
  position: relative;
  z-index: 2;
}

.section-container .main-container .right-section .top-right-blob {
  top: 2em;
  right: -10rem;
  height: 28vw;
}

.section-container .main-container .right-section .top-left-blob {
  top: 7em;
  margin-left: 4em;
}

.section-container .main-container .right-section .bottom-right-blob {
  bottom: 6em;
  left: 92em;
  height: 11.5em;
}

.section-container .main-container .right-section .bottom-left-blob {
  bottom: -9em;
  margin-left: 14em;
  z-index: 0;
}

.section-container .main-container .right-section .my-pic {
  bottom: -41.5em;
  left: 66.7vw;
  right: 20vw;
  height: 88em;
}

.section-container .main-container .right-section .connecting-line {
  top: 25.5vh;
  margin-left: 8vw;
  height: 31.5vw;
}

.section-container .main-container .right-section .laptop {
  top: 20vh;
  margin-left: 6vw;
}

.section-container .main-container .right-section .vs-code {
  top: 18.5vh;
  margin-left: 18vw;
}

.section-container .main-container .right-section .flutter {
  top: 23.5vh;
  margin-left: 30vw;
}

.section-container .main-container .right-section .android-studio {
  top: 38vh;
  margin-left: 36.5vw;
}

.section-container .main-container .right-section .css-3 {
  top: 71vh;
  margin-left: 28vw;
}

.section-container .main-container .right-section .bs-4 {
  top: 71vh;
  margin-left: 17.6vw;
}

.section-container .main-container .right-section .js {
  top: 63.6vh;
  margin-left: 11vw;
}

.section-container .main-container .right-section .php {
  top: 48vh;
  margin-left: 7.5vw;
}
