html{ scroll-behavior: smooth; }

body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    .navbar-brand { margin-left: 1em; }
    ul {
        right: 0 !important;
        margin-left: auto;
        li {
          list-style: none;
          margin: 1.18em 1em 0 1em;
        }
    }
}

.mixBlnd { background-blend-mode: screen; }

.hidden{ display: none; }

.section-container {
    max-width: 100vw;
    .main-container {
        display: flex;
        .left-section { 
            flex: 1.1;
            .left-heading {
                margin-top: 19vh;
                .name{
                    height: 6.7vw;
                }
                .underline {
                    height: 0.9em;
                    width: 12.5vw;
                    display: block;
                    margin-top: -3vh;
                    margin-left: 4vw;
                    border-radius: 25px;
                    border: blue 2px solid;
                    z-index: 2;
                }
                .underline-2 { 
                    margin-top: 2em;
                    margin-left: 13vw;
                    z-index: 1;
                 }
            }
            .sub-text{
                margin-top: 10vh;
                .sub-txt-2, .sub-txt-1 {height: 5.1vw; }
                .sub-txt-2{
                    margin-left: -1.8vw;
                }
                .bg-blue-box{
                    height: 4.7vw;
                }
            }
        }
        .right-section { 
            flex: 2; 
            background-image: url("/assets/background.svg");
            background-size: cover;
            background-repeat: no-repeat;
            .left-box {
                margin-top: 5.25vh;
                margin-bottom: -0.58em;
                max-height: 100vh;
                z-index: 1;
            }
            .floating-icons{
                position: absolute;
                margin-left: 0;
                top: 5vh;
            }
            .top-right-blob, 
            .top-left-blob, 
            .bottom-right-blob,
            .bottom-left-blob,
            .my-pic{
                position: fixed;
                z-index: 2;
            }

            .connecting-line,
            .laptop,
            .vs-code,
            .flutter,
            .android-studio,
            .css-3,
            .bs-4,
            .js,
            .php {
                position: relative;
                z-index: 2;
            }

            .top-right-blob {
                top: 2em;
                right: -10rem;
                height: 28vw;
            }
            .top-left-blob {
                top: 6.5em;
                margin-left: 4em;
                height: 8vw;
            }
            .bottom-right-blob {
                bottom: 11vh;
                height: 10em;
                left: 78vw;
            }
            .bottom-left-blob {
                bottom: -10.5em;
                margin-left: 14em;
                z-index: 0;
                height: 18vw;
            }
            .my-pic {
                top: 15rem;
                height: 87rem;
                left: 67.5vw;
            }
            .connecting-line {
                top: 25vh;
                margin-left: 4vw;
                height: 30vw;
            }
            .laptop {
                top: 20vh;
                margin-left: 4vw;
                height: 30vw;
                
            }
            .vs-code {
                top: 16vh;
                margin-left: 15vw;
                height: 12vw;
            }
            .flutter {
                top: 21vh;
                margin-left: 29vw;
                height: 10vw;
            }
            .android-studio {
                top: 42vh;
                margin-left: 34vw;
                height: 8.5vw;
            }
            .css-3 {
                top: 71vh;
                margin-left: 27vw;
                height: 4.5vw;
            }
            .bs-4 {
                top: 71vh;
                margin-left: 18.5vw;
                height: 6vw;
            }
            .js {
                top: 64vh;
                margin-left: 11.5vw;
                height: 6.5vw;
            }
            .php {
                top: 47vh;
                margin-left: 7vw;
                height: 7vw;
            }
            .items ul{
                list-style: none;
                position: absolute;
                margin-left: 0;
                top: 5vh;
            }
            .email-pic,
            .email-text,
            .email-line,
            .phone-pic,
            .number1,
            .number2,
            .facebook,
            .insta,
            .twitter,
            .linkedin,
            .CV_btn{
                position: fixed;
                z-index:2;
            }
            .email-pic{
                height: 8rem;
                margin-left: 3rem;
                top: 13rem;
            }
            .email-text{
                top:15rem;
                margin-left:10.5rem;
                color:whitesmoke;
            }
            .email-line {
                height: 0.9em;
                width: 17.5rem;
                display: block;
                top: 18rem;
                margin-left: 10.4rem;
                border-radius: 25px;
                border: rgb(0, 0, 0) 1px solid;  
            }
            .phone-pic{
                height: 8rem;
                top: 21rem;
                margin-left: 10.5rem;
            }
            .number1{
                top:22.5rem;
                margin-left: 14.5rem;
                color:whitesmoke;
            }
            .number2{
                top: 25rem;
                margin-left:19rem;
                color: whitesmoke;
            }
            .facebook{
                height: 6rem;
                top: 29rem;
                margin-left: 18.3rem;
            }
            .insta{
                height: 7rem;
                top: 28.5rem;
                margin-left: 23.5rem;
            }
            .twitter{
                height:5.3rem;
                top: 29.3rem;
                margin-left: 30rem;
            }
            .linkedin{
                height:7rem;
                top: 28.5rem;
                margin-left: 35.2rem;
                
            }
            .CV_btn{
                height: 3rem;
                width:12rem;
                top: 37rem;
                margin-left: 30rem;  
            }
            .btn-funky-moon {
                background: #A770EF;  /* fallback for old browsers */
                background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: black;
                border: 3px solid #eee;
                font-weight: bold;
            }
        }
    }
}

.page-transition {
    transition: .4s;
    opacity: 1;
}

html.is-animating .page-transition {
    opacity: 0;
    transform: translateY(-100px);
}
